* {
  -moz-user-select: none;
  -webkit-user-select: none;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: sans-serif;
  font-size: 10pt;
}
#main-toolbar #activity-button {
  background-image: url("helloweb.svg");
}
.toolbar {
  color: white;
  background-color: #615F5F;
  padding: 0 57px;
  height: 55px;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.toolbar hr {
  display: inline-block;
  height: 33px;
  border: 1px solid #808080;
  margin: 0,0,0,2.5px;
  
}
/* Toolbar toolbutton */
.toolbar .toolbutton {
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  color: transparent;
  border: 0;
  margin: 0px 2px;
  width: 47px;
  height: 55px;
  position: relative;
}
.toolbar .toolbutton:hover {
  background-color: black;
}

.toolbar .toolbutton.active {
  background-color: #808080;
}


.toolbar #stop-button {
  background-image: url('activity-stop.svg');
}
h1{
   text-align:center;
   font-size:40px;
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0px;
    width: 800px;
    background-color: #f1f1f1;
}
li.blue {
    background-color:#0F229C;
    
}
li.yellow {
    background-color:#F1EE0D;
}
li.indigo {
    background-color:#0DBAF1;
}
li.green {
    background-color:#0DF133;
}
li.g {
    background-color:#4CAF50;
}

li a {
    display: block;
    color: #000;
    font-family:Arial;
    font-size:30px;
    padding: 10px 17px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
    color: white;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0,0.9);
  transition: opacity 700ms;
  visibility: hidden;
  opacity: 0;
}
overlay:active{
position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  width: 50%;
  position: relative;
  top:150px;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-family:arial;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  font-size: 1.5em;
}
